<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ /pdo-php/$1.php

#RewriteRule ^([a-z]+)\/?$ /pdo-php/$1.php [NC]
#RewriteRule ^(.*)$ /pdo-php/product/$1.php
</IfModule>